<!DOCTYPE html>
<html>
<head>
<title>FoodTrip</title>
<script type="text/javascript" src="js/angular.min.js"></script>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link rel="stylesheet" href="css/bootstrap-responsive.min.css">
<link rel="stylesheet"
	href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" />

<!-- INCLUDE APPLICATION SPECIFIC CSS AND JAVASCRIPT -->
<script type="text/javascript" src="js/foodtrip-app/app.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script type="text/javascript" src="js/foodtrip-app/controllers/mainController.js"></script>
<script src="//maps.google.com/maps/api/js"></script>
<script src="js/ng-map.min.js"></script>
<script type="text/javascript" src="js/angular-translate.min.js"></script>
<script src="http://cytoscape.github.io/cytoscape.js/api/cytoscape.js-latest/cytoscape.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/qtip2/2.2.0/jquery.qtip.min.js"></script>
<script src="https://cdn.rawgit.com/cytoscape/cytoscape.js-qtip/70964f0306e770837dbe2b81197c12fdc7804e38/cytoscape-qtip.js"></script>
<link href="http://cdnjs.cloudflare.com/ajax/libs/qtip2/2.2.0/jquery.qtip.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="css/main.css">
<style>

</style>
</head>
<body style="height: 100%" ng-app="foodtrip"
	ng-controller="mainController" ng-init="init();">
	<div class="container main-frame" id="wrapper">

		<div ng-include="'navbar.htm'"></div>
		<div ng-include="'trip.html'" ng-if="mainTabIndex == 0"> </div>
		<div ng-include="'why.html'" ng-if="mainTabIndex == 1"> </div>

		<footer class="footer">
			<p>@Company 2014</p>
		</footer>	
	</div>

</body>
</html>
