<script>
$(window).on('scroll', function(){
	$timeline_block.each(function(){
		if( $(this).offset().top <= $(window).scrollTop()+$(window).height()*0.75 && $(this).find('.cd-timeline-img').hasClass('is-hidden') ) {
			$(this).find('.cd-timeline-img, .cd-timeline-content').removeClass('is-hidden').addClass('bounce-in');
		}
	});
});
</script>

<div class="jumbotron">
	<div class="container">
		<div class="col-xs-12 col-md-12 lead">{{'TRIP_TEXT_LABEL' | translate}}</div>
		<form name="tripForm" class="formTrip">
			<div class="form-group col-xs-12 col-md-10">
				<input type="text" ng-trim="true" class="form-control" ng-model="tripID" />
			</div>
			<div class="col-xs-12 col-md-2">
				<button class="btn2 btn2-success pull-center "
					ng-click="getTrip('./trip.html',tripID);google.maps.event.trigger($scope.map,'resize');">
					<span class="glyphicon"></span>{{'GET_TRIP_BUTTON' | translate}}
				</button>
			</div>
		</form>
	</div>
</div>
<div style="height:300px" ng-if="!$root.showtrip">
</div>

<div  class="container" ng-if="$root.tripView.default">
 <alert type="danger" >{{'FOODTRIP_NOT_FOUND' | translate}}</alert>	
</div>

<div class="container" ng-if="$root.showtrip">
	<div>
		<h3>{{product.name}} </h3>
		<span> {{product.description}}</</span>
	</div>
	<div>
		<ul class="nav nav-tabs">
			<li role="presentation" ng-class="{active: tabIndex == 0}"><a
				href="#foodtrip" ng-click="showProductDetail()">{{'PRODUCT_DETAIL' |
					translate}}</a></li>
			<li role="presentation" ng-class="{active: tabIndex == 1}"><a
				href="#foodtrip" ng-click="showProductTrip()">{{'STEPS' | translate}}</a></li>
			<li role="presentation" ng-class="{active: tabIndex == 2}"><a
				href="#foodtrip" ng-click="showTripMap()">{{'MAP' | translate}}</a></li>
		</ul>


		<div id="dettagliProdotto" ng-show="tabIndex==0" class="tabContent">

			<div class="col-xs-12 col-md-6" ng-show="!showMap">
				<div class="div-map">
					<map id="productMap" center="{{product.lat}},{{product.lng}}" class="map400"
						zoom="4">
						<marker position="{{product.lat}},{{product.lng}}" visible="true" />
					</map>
				</div>
			</div>
			<div class=" detailContent col-xs-12 col-md-6" ng-show="!showMap">
				<div class="p-grey block pull-center">{{'SAWING_DATE' |
					translate}} {{product.sawingDate | date : 'dd/MM/yyyy'}}</div>
				<div class="p-grey block pull-center">{{'HARVEST_DATE' |
					translate}} {{product.harvestDate | date : 'dd/MM/yyyy'}}</div>
				<div class="block">
					<p class="p-grey" style="margin-top: 30px; margin-bottom: 30px;">
						<span style="display: block">{{'PRODUCED_BY' | translate}}
							<a>{{producer.name}}</a>
						</span> {{producer.address.streetName}} {{producer.address.streetNumber}}
						{{producer.address.zipCode}} {{producer.address.city.name}}
						{{producer.address.state}}<br/> <br/>
						<span class="p-grey">{{'CERTIFICATIONS'
							| translate}}:</span> <span class="p-red"
							ng-show="producer.certifications == null">{{'NO_CERTIFICATIONS'
							| translate}}</span> <span class="p-grey"
							ng-show="producer.certifications != null" >{{producer.certifications}}</span>
					</p>
				</div>
				<div class="block">
					<table class="product-detail-table">
						<tr>
							<td>{{'AGR_TRAD' | translate}}</td>
							<td class="pull-left"
								ng-show="!product.biological && !product.ogm && !product.suistainable && !product.biodynamic && !product.ipm"><img
								src="img/yes.png" /></td>
							<td class="pull-left"
								ng-show="product.biological || product.ogm || product.sustainable || product.biodadynamic || product.ipm"><img
								src="img/no.png" /></td>
							<td class="padd-left-15">{{'AGR_BIO' | translate}}</td>
							<td class="pull-left" ng-show="product.biological"><img
								src="img/yes.png" /></td>
							<td class="pull-left" ng-show="!product.biological"><img
								src="img/no.png" /></td>
						</tr>
						<tr>
							<td>{{'AGR_OGM' | translate}}</td>
							<td class="pull-left" ng-show="product.ogm"><img
								src="img/yes.png" /></td>
							<td class="pull-left" ng-show="!product.ogm"><img
								src="img/no.png" /></td>
							<td class="padd-left-15">{{'AGR_SUSTAINABLE' | translate}}</td>
							<td class="pull-left" ng-show="product.sustainable"><img
								src="img/yes.png" /></td>
							<td class="pull-left" ng-show="!product.sustainable"><img
								src="img/no.png" /></td>
						</tr>
						<tr>
							<td>{{'AGR_BIODIN' | translate}}</td>
							<td class="pull-left" ng-show="product.biodynamic"><img
								src="img/yes.png" /></td>
							<td class="pull-left" ng-show="!product.biodynamic"><img
								src="img/no.png" /></td>
							<td class="padd-left-15">{{'AGR_IPM' | translate}}</td>
							<td class="pull-left" ng-show="product.ipm"><img
								src="img/yes.png" /></td>
							<td class="pull-left" ng-show="!product.ipm"><img
								src="img/no.png" /></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
		<div id="foodTrip" class="tabContent" ng-show="tabIndex==1">
			<section id="cd-timeline" class="col-xd-12 col-md-12">
				<div class="cd-timeline-block" ng-repeat="step in tripView.flatFoodGraph">
					<div class="cd-timeline-img cd-picture">
						<img alt="Picture" src="img/cd-icon-picture.svg">
					</div>
					<div class="cd-timeline-content">
						<div>
							<h4 style="display:inline">{{step.company.name}}</h4>
							<h5 style="display:inline">({{step.company.type | translate}})</h5>
						</div>
						<p>{{step.company.address.htmlString}}</p>
						<a class="cd-read-more" href="#0">{{'VIEW_DETAILS' | translate }}</a>
						<span class="cd-date">{{step.date  | date : mediumDate}}</span>
					</div>
				</div> 
			</section>
		</div>

		<div ng-if="tabIndex==2" class="tabContent">
			<div class="col-xd-12 col-md-12">
				<div class="div-map">
					<map id="productMap" class="map500"
						center="{{product.lat}},{{product.lng}}" zoom="2">

						<div ng-repeat="step in tripView.flatFoodGraph">
							<marker id="marker_{{step.id}}"
								position="{{step.lat}},{{step.lng}}" icon="{{step.markerIcon}}"
								on-click="showInfoWindow(event, 'info_{{step.id}}')"> </marker>
							<info-window id="info_{{step.id}}"
								visible-on-marker="marker_{{step.id}}">
							<div>
								<div id="siteNotice"></div>
								<div id="bodyContent">{{step.company.name}}</div>
							</div>
							</info-window>
						</div>
						<shape ng-repeat="path in paths" name="polyline" path="{{path}}"
							geodesic="true" stroke-color="#FF887C" stroke-opacity="0.9"
							stroke-weight="2" />
					</map>
				</div>
			</div>
			
		</div>
	</div>
</div>

<div ng-include="'loadingDiv.html'"> </div>